nodeRedRemote.json
[{"id":"bb53255d.090ca8","type":"tab","label":"Web Remote","disabled":false,"info":""},{"id":"f7436a8b.e33af8","type":"http in","z":"bb53255d.090ca8","name":"","url":"/feedback","method":"post","upload":false,"swaggerDoc":"","x":160,"y":320,"wires":[["27b2ecd8.1d5774","f31db1d.73c8b5"]]},{"id":"27b2ecd8.1d5774","type":"http response","z":"bb53255d.090ca8","name":"","statusCode":"","headers":{},"x":350,"y":280,"wires":[]},{"id":"bbc842d6.b791b","type":"template","z":"bb53255d.090ca8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Remote</title>\n        <link rel=\"icon\" \n      type=\"image/png\" \n      href=\"http://benjam.me/icons/remote-control.png\">\n        <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n        <script src=\"https://kit.fontawesome.com/9ee4d5cfa0.js\" crossorigin=\"anonymous\"></script>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=.9, maximum-scale=.9\">\n        <script src=\"https://code.jquery.com/jquery-3.3.1.js\"></script>\n\n        <style>\n            .container{\n                padding:10px;\n                width:380px;\n                margin:0 auto;\n                background-color: black;\n            }\n\n            body{\n                padding: 0;\n                margin: 0;\n                background-color: rgba(0,0,0,0.1);\n                font-family: 'Titillium Web', sans-serif;\n            }\n\n            .header{\n                width: 360px;\n                height: 75px;\n            }\n            .numbers{\n                width: 360px;\n                height: 295px;\n                font-size: 40px;\n                text-align: center;\n            }\n            .adjust{\n                width: 360px;\n                height: 175px;\n                font-size: 40px;\n                text-align: center;\n\n            }\n\n            \n\n            .buttons{\n                width: 360px;\n                height: 135px;\n                background-color: black;\n                font-size: 18px;\n                text-align: center;\n            }\n            .clicked {\n                border: 1px solid rgb(0,0,0);\n                box-shadow: 0 0 2px 0 rgb(0,0,0);\n            }\n\n\n\n            .adjustBox{\n                height: 75px;\n                width: 60px;\n                background-color: lightblue;\n            }\n\n            .circle {\n                height: 65px;\n                width: 65px;\n                background-color: red;\n                border-radius: 50%;\n                display: inline-block;\n            }\n\n            .box{\n                height: 60px;\n                width: 60px;\n                background-color: gray;\n                display: inline-block;\n\n            }\n\n\n            #source{\n                position: relative;\n                left: 230px;\n            }\n\n            #power{\n                position:relative;\n                top: -25px;\n            }\n\n\n            a:link {\n            color: black;\n            }\n\n            /* visited link */\n            a:visited {\n            color: black;\n            }\n\n            /* mouse over link */\n            a:hover {\n            color: black;\n            text-decoration: none;\n            }\n\n            /* selected link */\n            a:active {\n            color: black;\n            }\n\n        </style>\n\n    </head>\n    <body>\n        <div class=\"container\">\n            <div class=\"header\">\n                <div class=\"circle\"  id=\"power\">\n                    <i class=\"fas fa-power-off pl-2 pt-2\" style=\"color: white; font-size: 47px; \"></i>\n                </div>\n\n                <a class=\"box\" href=\"#\" id=\"source\">\n                        <p class=\"pl-1\">Source</p>\n                        <i class=\"fas fa-tv pl-2\" style=\"color: black; font-size: 35px; position: relative; top: -20px;\"></i>\n                   \n                </a>\n            </div>\n            <div class=\"numbers\">\n\n             <div class=\"row1 pb-2\">\n                <a class=\"box\" job=\"button\" href=\"#\" id=\"1\">\n                    <div class=\"pl-1\" >1</div>\n               \n                </a>\n                <a class=\"box\" href=\"#\" id=\"2\">\n                    <div class=\"pl-1\">2</div>\n               \n                </a>\n                <a class=\"box\" href=\"#\" id=\"3\">\n                    <div class=\"pl-1\">3</div>\n               \n                </a>\n\n             </div>\n\n             <div class=\"row2 pb-2\">\n                <a class=\"box\" href=\"#\" id=\"4\">\n                    <div class=\"pl-1\" >4</div>\n               \n                </a>\n                <a class=\"box\" href=\"#\" id=\"5\">\n                    <div class=\"pl-1\">5</div>\n               \n                </a>\n                <a class=\"box\" href=\"#\" id=\"6\">\n                    <div class=\"pl-1\">6</div>\n               \n                </a>\n                 \n            </div>\n\n            <div class=\"row3 pb-2\">\n                <a class=\"box\" href=\"#\" id=\"7\">\n                    <div class=\"pl-1\" >7</div>\n               \n                </a>\n                <a class=\"box\" href=\"#\" id=\"8\">\n                    <div class=\"pl-1\">8</div>\n               \n                </a>\n                <a class=\"box\" href=\"#\" id=\"9\">\n                    <div class=\"pl-1\">9</div>\n               \n                </a>\n                 \n            </div>\n\n            <div class=\"row4 pb-4\">\n                <a class=\"box\" href=\"#\" id=\"mute\">\n                    <i class=\"fas fa-volume-mute pl-2 pt-3\" style=\" font-size: 30px;  \"></i>\n               \n                </a>\n                <a class=\"box\" href=\"#\" id=\"0\">\n                    <div class=\"pl-1\">0</div>\n               \n                </a>\n                <a class=\"box\" href=\"#\" id=\"previous\">\n                    <div class=\"pl-1\" style=\"font-size: 17px;\">PRE CH</div>\n               \n                </a>\n                 \n            </div>\n\n            </div>\n\n            <div class=\"adjust\">\n                <div class=\"row1\">\n                    <div class=\"box\" id=\"volUP\" style=\"background-color: lightblue; \">\n                        <p>+</p>\n                    </div>\n\n                    <div class=\"box ml-4\" id=\"chUP\" style=\"background-color: lightblue; \">\n                        <p>^</p>\n                    </div>\n                </div>\n\n                <div class=\"row2\">\n                    <div class=\"box\" style=\"background-color: lightblue; height: 30px;  font-size: 20px; position: relative; top: -20px;\">\n                        <p>VOL</p>\n                    </div>\n\n                    <div class=\"box ml-4\" style=\"background-color: lightblue; height: 30px; font-size: 20px;position: relative; top: -20px;\">\n                        <p>CH</p>\n                    </div>\n                </div>\n\n                <div class=\"row3\">\n                    <div class=\"box\" id=\"volDOWN\" style=\"background-color: lightblue; position: relative; top: -27px;\">\n                        <p>-</p>\n                    </div>\n\n                    <div class=\"box ml-4\" id=\"chDOWN\" style=\"background-color: lightblue; position: relative; top: -27px; \">\n                        <p style=\"position: relative; top: -10px;\">⌄</p>\n                    </div>\n                </div>\n    \n            </div>\n\n            <div class=\"buttons\">\n                <div class=\"row1 pb-2\">\n                    <a class=\"box\" href=\"#\" id=\"espn\">\n                        <div class=\"pl-1\" >ESPN 1</div>\n                   \n                    </a>\n                    <a class=\"box\" href=\"#\" id=\"espn2\">\n                        <div class=\"pl-1\">ESPN 2 </div>\n                   \n                    </a>\n                    <a class=\"box\" href=\"#\" id=\"foxSports\">\n                        <div class=\"pl-1\">FOX Sports</div>\n                   \n                    </a>\n    \n                 </div>\n\n                 <div class=\"row1 pb-2\">\n                    <a class=\"box\" href=\"#\" id=\"foxSportsNet\">\n                        <div class=\"pl-1\" >FOX SN</div>\n                   \n                    </a>\n                    <a class=\"box\" href=\"#\" id=\"nbcSports\">\n                        <div class=\"pl-1\">NBC Sports </div>\n                   \n                    </a>\n                    <a class=\"box\" href=\"#\" id=\"comCentral\">\n                        <div class=\"pl-1\">COM CENT</div>\n                   \n                    </a>\n    \n                 </div>\n\n            </div>\n\n\n        </div>\n\n\n     \n\n\n        \n\n    </body>\n</html>\n<script>\n var myUrl = \"http://<location of node-red>/feedback\";\n\nfunction post_my_command(event) {\n    \"use strict\";\n    $.ajax({type: \"POST\", url: myUrl, data: {code: event.data.code}});\n}\n\nfunction clicked(event){\n\n    setTimeout(function(){ event.classList.toggle(\"clicked\"); }, 1000);\n}\n\n$(document).ready(function () {\n   \n    $(\".box,.circle\").click( function(event) {\t\n        event.preventDefault();\n\n        $(this).toggleClass(\"clicked\");\n\n        clicked(this);\n        \n\n    });\n\n    $(\"#power\").click({ code: \"P\"}, post_my_command);\n    $(\"#mute\").click({ code: \"M\"}, post_my_command);\n    $(\"#source\").click({ code: \"S\"}, post_my_command);\n    $(\"#previous\").click({ code: \"p\"}, post_my_command);\n    $(\"#chUP\").click({ code: \"C\"}, post_my_command);\n    $(\"#chDOWN\").click({ code: \"X\"}, post_my_command);\n    $(\"#volUP\").click({ code: \"V\"}, post_my_command);\n    $(\"#volDOWN\").click({ code: \"B\"}, post_my_command);\n\t\t\n    $(\"#0\").click({ code: \"0\"}, post_my_command);\n    $(\"#1\").click({ code: \"1\"}, post_my_command);\n    $(\"#2\").click({ code: \"2\"}, post_my_command);\n    $(\"#3\").click({ code: \"3\"}, post_my_command);\n    $(\"#4\").click({ code: \"4\"}, post_my_command);\n    $(\"#5\").click({ code: \"5\"}, post_my_command);\n    $(\"#6\").click({ code: \"6\"}, post_my_command);\n    $(\"#7\").click({ code: \"7\"}, post_my_command);\n    $(\"#8\").click({ code: \"8\"}, post_my_command);\n    $(\"#9\").click({ code: \"9\"}, post_my_command);\n    \n    $(\"#espn\").click({ code: \"E\"}, post_my_command);\n    $(\"#espn2\").click({ code: \"e\"}, post_my_command);\n    $(\"#foxSports\").click({ code: \"f\"}, post_my_command);\n    $(\"#foxSportsNet\").click({ code: \"x\"}, post_my_command);\n    $(\"#nbcSports\").click({ code: \"n\"}, post_my_command);\n    $(\"#comCentral\").click({ code: \"c\"}, post_my_command);\n});   \n</script>","output":"str","x":320,"y":40,"wires":[["be58f419.35fce8"]]},{"id":"9eac52c.165fab","type":"http in","z":"bb53255d.090ca8","name":"","url":"/remote","method":"get","upload":false,"swaggerDoc":"","x":150,"y":40,"wires":[["bbc842d6.b791b"]]},{"id":"be58f419.35fce8","type":"http response","z":"bb53255d.090ca8","name":"","statusCode":"","headers":{},"x":500,"y":40,"wires":[]},{"id":"ddfdcad4.c14258","type":"mqtt out","z":"bb53255d.090ca8","name":"","topic":"/remote","qos":"","retain":"","broker":"a3405a74.831e68","x":600,"y":400,"wires":[]},{"id":"1bf636f1.8a7d79","type":"mqtt in","z":"bb53255d.090ca8","name":"","topic":"/remote","qos":"2","datatype":"auto","broker":"a3405a74.831e68","x":230,"y":160,"wires":[["3f8f09f3.c99e96"]]},{"id":"3f8f09f3.c99e96","type":"debug","z":"bb53255d.090ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":180,"wires":[]},{"id":"beffef35.4e841","type":"debug","z":"bb53255d.090ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":320,"wires":[]},{"id":"f31db1d.73c8b5","type":"change","z":"bb53255d.090ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.code","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":360,"wires":[["beffef35.4e841","ddfdcad4.c14258"]]},{"id":"a3405a74.831e68","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.25","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]